<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Bookstore - Category List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>

<body>

	<header>
		<a th:href="@{/index}"><button type="button" class="btn btn-primary">Index</button></a>
		<a th:href="@{/booklist}"><button type="button" class="btn btn-info">Books</button></a>
		<a th:href="@{/categorylist}"><button type="button" class="btn btn-primary">Categories</button></a>
	</header>
	<br/><br/>

	<h1>Category List</h1>

	<table class="table table-striped">
		<tbody>
		<tr>
			<th>Id</th>
			<th>Name</th>
			
		</tr>

		<!--IN CONTROLLER, CAT TABLE IS SAVED INTO 'CATEGORIES'
		THEN THYMELEAF SHOWS THE ACCESSED CATEGORY'S DATA-->
		<tr th:each="cat : ${categories}">
			<td th:text="${cat.categoryId}">id</td>
			<td th:text="${cat.name}">name</td>
		</tr>
	</tbody>
	</table>

	<!-- ADD CATEGORY LINK BELOW TABLE-->
	<a href="/addcat" class="btn btn-primary">Add Category</a>

</body>
</html>
